[submodule "arqmath-data-preprocessing"]
	path = input_data
	url = https://github.com/MIR-MU/ARQMath-data-preprocessing.git
[submodule "input_data"]
	path = input_data
	url = https://github.com/MIR-MU/ARQMath-data-preprocessing.git
